<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.estore.dao.UserDao">
	
	<select id="findUserByParams" resultType="org.estore.entity.User">
		SELECT * FROM USER
		WHERE
			state = 1
		AND
			userName = #{userName}
		AND 
			password = #{password}
		<if test="role != null">
			role = #{role}
		</if>
	</select>
	
	<insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO USER
			(userName,password,email,role,createTime,state)
		VALUES
			(#{userName},#{password},#{email},#{role},#{createTime},#{state})
	</insert>
</mapper>